<div class="detail-container">
  <div class="movie-image">
    <img [src]="movieDetail.img" alt="" />
  </div>
  <div class="movie-container">
    <div class="movie-title">
      {{ movieDetail.name }}
      <div class="movie-date">{{ movieDetail.date }}</div>
    </div>
    <div class="movie-rate">{{ movieDetail.rate }}</div>
    <div class="movie-lenght">{{ movieDetail.movie.lenght }}</div>
    <div class="movie-type">{{ movieDetail.type }}</div>
  </div>
  <div class="movie-describtion">Describtion</div>
  <div class="movie-cast">Cast and Crew</div>
</div>
