.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  .header-title {
    display: flex;
    align-items: center;
    color: #e8e7e7;
  }
  .search-box {
    display: flex;
    margin-right: 0.6rem;
    .search-bar {
      margin-right: 0.3rem;
    }
    mat-icon {
      margin-right: 0.5rem;
    }
  }
}
