.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  .header-title {
    display: flex;
    align-items: center;
    color: #e8e7e7;
  }

  mat-icon {
    margin-right: 2rem;
  }
}
