<div class="card-container">
  <div class="pic-title">
    <div class="card-image">
      <img [src]="movie.img" alt="" />
    </div>
    <div class="card-title">
      <div class="movie-content">
        <div class="movie-title">
          {{ movie.name }}
          <div class="movie-date">{{ movie.date }}</div>
        </div>
        <div class="movie-information">{{ movie.director }}</div>
        <div class="card-rate">
          {{ movie.rate }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="card-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="pic-title">
          <div class="card-image">
            <img [src]="movie.img" alt="" />
          </div>
          <div class="card-title">{{ movie.name }} {{ movie.date }}</div>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="card-rate">{{ movie.rate }}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card-information">
      <p>{{ movie.stars }}</p>
      <p>{{ movie.kind }}</p>
    </div>
  </mat-expansion-panel>
</div> -->
