<div (click)="onClick()" class="card-container">
  <div class="pic-title">
    <div class="card-image">
      <img [src]="movie.img" alt="" />
    </div>
    <div class="card-title">
      <div class="movie-content">
        <div class="movie-title">
          {{ movie.id }}-
          {{ movie.name }}

          <div class="movie-date">{{ movie.date }}</div>
        </div>
        <div class="movie-information">{{ movie.director }}</div>
        <div class="card-rate">
          {{ movie.rate }}
          <div class="rating-stars">
            <rating [val]="movie.rate"></rating>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
