@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
* {
  background-color: #0b0b01;
  color: #d0d1d5;
  font-family: "Product";
}
@font-face {
  font-family: "Product";
  src: local("Product"), url(./assets/fonts/Product.Sans.Bold.ttf);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
